<h3>ResourceMonitorExample</h3>

<p>This simple page is the example for a resource monitor integration</p>

<a href="/resources" target="_blank">Click here to see the resources screen</a> <br \>
<a href="/stress" target="_blank">Click here to generate some RAM and CPU usage</a>
