<h3>ResourceMonitorExample Stress</h3>

<p>This page has generated 1,000,000 random numbers and summed them</p>

<p>The result is <%= number_with_delimiter(@result, :delimiter => ',') %></p>

<p>Refresh to generate more usage.</p>
